  <div class="about" >
      <p>Version: <span class="version">{{manus_version}}</span></p>
      <p>Manipulator: <span class="version">{{hardware_version}}</span></p>
      <p>Manus is a modular manipulation robotics platform for educational purposes. The project consists of open-source software components as well 
          as open hardware designs. The project was started to support a course on robotics and computer vision. </p>
      <p>Manus development is led by the Visual Cognitive Systems Laboratory and supported by the Faculty of Computer 
          and Information Science, University of Ljubljana. The code is available on <a href="https://github.com/manus-project/">Github</a>.</p>
      <p style="text-align: center">
        <a href="http://www.fri.uni-lj.si"><img src="/ul_fri.png" /></a>&nbsp;
        <a href="http://www.vicos.si"><img src="/vicos.png" /></a>
      </p>
  </div>