
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark navbar-default navbar-static-top">
      <div class="container-fluid">
        <a class="navbar-brand" id="logo" href="#">
          <img src="/icon.png" alt="" class="d-inline-block align-text-top">
          Manus
        </a>
        <ul class="nav navbar-nav nav-pills" id="menu">
          <!--li id="menu-control"><a href="#control" data-toggle="tab"> <i class="glyphicon glyphicon-dashboard"> </i> Control</a></li>
          <li id="menu-program"><a href="#program" data-toggle="tab"> <i class="glyphicon glyphicon-pencil"> </i> Program</a></li>
          <li id="menu-apps"><a href="#apps" data-toggle="tab"> <i class="glyphicon glyphicon-cog"> </i> Apps</a></li>
          <li id="menu-settings"><a href="#settings" data-toggle="tab"> <i class="glyphicon glyphicon-wrench"> </i> Settings</a></li-->
        </ul>
        <ul class="nav navbar-nav navbar-right" id="actions">
          <!--li id="menu-user"><a href="#"> <i class="glyphicon glyphicon-user"> </i></a></li>
          <li id="menu-shutdown"><a href="#"> <i class="glyphicon glyphicon-off"> </i></a></li-->
        </ul>
      </div>
    </nav>

    <div id="container" class="container-fluid">
        <div class="tab-content col-xs-12 col-sm-8 col-md-7 col-lg-6" id="tabs">

          <!--div class="tab-pane active" id="control">

          </div-->


        </div>
        <div class="tab-content col-xs-12 col-sm-4 col-md-5 col-lg-6" id="views">

        </div>
  </div>
</div>