<div class="toolbar right"></div>
<div class="toolbar left"></div>
<div class="row">
<div class="controls" class="col-xs-12 col-sm-12 col-md-8 col-lg-8"></div>
<div class="poseslist" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
</div>
</div>