<div class="toolbar right"></div>
<div class="toolbar left"></div>
<div class="program-panel blockly">
<div class="area"></div>
<div class="workspace"></div>
</div>
<div class="program-panel python">
<div class="editor"></div>
</div>
<div id="console" class="program-panel console">
<div class="content"></div>
<div class="message">Program finished. Double-click the console or press escape to return to your program.</div>
<input class="inputline" type="text" />
</div>